<html>
<head>
    <title><%= siteTitle %> - <%= pageTitle %></title>
    <% include('head.ejs') %>
    <style>
        *{border-radius: 0px !important;}
    </style>
</head>
<body>
    <% include('navbar.ejs')  %>
    


